# Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.pyright/

# Virtual env
venv/
.venv/

# Streamlit
.streamlit/secrets.toml

# Node
node_modules/
dist/
build/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
